<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link rel="icon" type="image/png" href="static/images/biher.png" />
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <link rel="stylesheet" href="static/index.css" />
    <link rel="stylesheet" href="static/admin.css" />
    <style>
        .admin-section {
            margin-top: 100px;
        }
    </style>
</head>

<body>
    <header class="header">
        <a href="#" class="logo">
            <i class="fas fa-university"></i> Unified College Management
        </a>
        <nav class="navbar">
            <a href="{{ url_for('adminportal') }}">
                <button id="btn" class="btn">Home</button>
            </a>
            <a href="{{ url_for('view_teachers') }}">
                <button id="home" class="btn">Teacher</button>
            </a>
        </nav>
        <div id="menu-btn" class="fas fa-bars"></div>
    </header>

    <section class="admin-section" id="query">
        <h1>View <span>student</span></h1>
        <form
            class="searchform"
            action="{{ url_for('view_students') }}"
            method="POST"
        >
            <label for="filter_type">Filter by:</label>
            <select class="fields" name="filter_type" id="filter_type">
                <option value="id">ID</option>
                <option value="name">Name</option>
                <option value="section">Section</option>
                <option value="all">ALL</option>
                <option value="old data">Order</option>
                <option value="attendance">Attendance</option>
            </select>

            <label for="filter_value">Enter Value:</label>
            <input
                class="fields"
                type="text"
                id="filter_value"
                name="filter_value"
            />

            <button type="submit" class="btn">Search</button>
        </form>

        <section class="query-section">
            {% if students %}
            <table>
                <thead>
                    <tr>
                        <th>SlNo</th>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Attendance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in students %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ student.id }}</td>
                        <td>
                            <a
                                href="{{ url_for('view_student_detail', student_id=student.id) }}"
                            >
                                {{ student.name }}
                            </a>
                        </td>
                        <td>{{ student.attendance }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p style="font-size: 30px; color: red">No record found.</p>
            {% endif %}
        </section>
    </section>

    <script src="static/index.js"></script>
</body>

</html>
